<div class="container my-4 d-flex flex-column gap-5">
  <form (ngSubmit)="onSubmit()" class="p-4 border border-white rounded-3" style="background-color: #181023;">

    <div class="row row-cols-2">
      <div class="form-group mb-2">
        <label for="initInvestment" class="form-label text-white" >Initial Investment</label>
        <input type="number" name="initInvestment" id="initInvestment" class="form-control" [(ngModel)]="initInvestment">  <!--edit var initInvestment in component in realtime-->
      </div>
      <div class="form-group mb-2">
        <label for="annualInvestment" class="form-label text-white">Annual Investment</label>
        <input type="number" name="annualInvestment" id="annualInvestment" class="form-control" [(ngModel)]="annualInvestment">  <!--edit var initInvestment in component in realtime-->
      </div>
    </div>


    <div class="row row-cols-2">
      <div class="form-group mb-2">
        <label for="expectedReturn" class="form-label text-white">Expected Return</label>
        <input type="number" name="expectedReturn" id="expectedReturn" class="form-control" [(ngModel)]="expectedReturn">  <!--edit var initInvestment in component in realtime-->
      </div>
      <div class="form-group mb-2">
        <label for="duration" class="form-label text-white">Duration</label>
        <input type="number" name="duration" id="duration" class="form-control" [(ngModel)]="duration">  <!--edit var initInvestment in component in realtime-->
      </div>
    </div>

    <button type="submit" class="btn btn-success text-white mt-2">Calculate</button>

  </form>
  <hr class="center rounded-2 " style="width: 80%; border: 2px solid white; margin: 1rem auto;">
</div>
<!--solid #181023;-->
