/* You can add global styles to this file, and also import other style files */

*{
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;

}
body{
  font-family: "Poppins", sans-serif;
  background-color: #181023;
  color: #c3b3d8;
}
img{max-width: 100%;}
#debug *{
  border: 1px dashed white;
}

:root{

}
